{% load thumbnail %}
<div class="logos">
  {% for partner in partners_list %}
  <div class="logo"><a href="{{ partner.homepage }}"><img src="{{ partner.sm_image.url }}" alt="{{ partner.name }}"></a></div>
  {% endfor %}
  <div class="quote-support">
    <h4>Apoio</h4>
    {% for partner in support_list %}
    {% thumbnail partner.sm_image "x90" as im %}
    <div class="logo"><a href="{{ partner.homepage }}"><img src="{{ partner.sm_image.url }}" alt="{{ partner.name }}" style="height:90px;"></a></div>
    {% endthumbnail %}
    {% endfor %}
  </div>
</div>
