<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#first-day" role="tab" data-toggle="tab">{{ conference.realization_date }}</a></li>
  <!-- <li><a href="#september-27" role="tab" data-toggle="tab">Tuesday, September 27</a></li> -->
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane fade in active" id="first-day">
    <div class="panel-group" id="schedule-table-first-day">
      {% for schedule in schedule_list %}
      <div class="panel panel-default">
        <a href="#first-day-{{ forloop.counter }}" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-first-day">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="time">
                <i class="fa fa-clock-o"></i>
                <figure>{{ schedule.start_at }}</figure>
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="title"><h3>{{ schedule.title }}</h3></div>
            </div>
          </div>
          <i class="fa fa-plus"></i>
        </a><!-- .panel-header -->
        <div id="first-day-1" class="panel-collapse collapse description">
          <div class="row">
            <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
              <div class="panel-body">
                {{ schedule.about|linebreaks }}
              </div>
            </div>
          </div>
        </div><!-- .panel-collapse -->
      </div><!-- .panel -->
      {% endfor %}
      <!-- <div class="panel panel-default">
        <a href="#first-day-2" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-first-day">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="time">
                <i class="fa fa-clock-o"></i>
                <figure>09:30</figure>
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="title"><h3>Aenean suscipit euismod nisl, eget vehicula est bibendum et</h3></div>
            </div>
          </div>
          <i class="fa fa-plus"></i>
        </a>.panel-header
        <div id="first-day-2" class="panel-collapse collapse description">
          <div class="row">
            <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
              <div class="panel-body">
                <p>Praesent quis sem sed est feugiat tincidunt ut sit amet augue. Sed ac libero iaculis, laoreet enim nec, pretium ante. Donec facilisis, turpis eget vulputate maximus, leo augue viverra elit, nec dapibus turpis felis id magna. Mauris dapibus eleifend ipsum, a tempor massa blandit ut</p>
              </div>
            </div>
          </div>
        </div>.panel-collapse
      </div>.panel

      <div class="panel panel-default">
        <a href="#first-day-3" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-first-day">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="time">
                <i class="fa fa-clock-o"></i>
                <figure>10:45</figure>
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="title"><h3>Coffee Break</h3></div>
            </div>
          </div>
          <i class="fa fa-plus"></i>
        </a>.panel-header
        <div id="first-day-3" class="panel-collapse collapse description">
          <div class="row">
            <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
              <div class="panel-body">
                <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
              </div>
            </div>
          </div>
        </div>.panel-collapse
      </div>.panel -->

    </div>
  </div><!-- .tab-pane -->
</div><!-- .tab-content -->
