{% load staticfiles %}
<section class="speakers background-stripe">
  {% for speakers in speakers_list %}
  <div class="row">
    {% for speaker in speakers %}
    <div class="col-md-3 col-sm-3">
      <div class="speaker">
        <aside class="image">
          <div class="plus-wrapper" data-toggle="modal" data-target="#modal{{ forloop.counter }}">
            <div class="plus"><i class="fa fa-plus"></i></div>
          </div>
          {% if speaker.picture %}
          <img src="{{ speaker.picture.url }}" alt="{{ speaker.name }}">
          {% else %}
          <img src="{% static 'img/speaker-01.png' %}" alt="">
          {% endif %}
        </aside>
        <h3>{{ speaker.name }}</h3>
        <h4>{{ speaker.reference }}</h4>
      </div><!-- .speaker -->
    </div><!-- .col-md-3 -->
    <div class="modal fade" id="modal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="modal1-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <div class="speaker-wrapper">
              <div class="speaker">
                <aside class="image">
                  {% if speaker.picture %}
                  <img src="{{ speaker.picture.url }}" alt="{{ speaker.name }}">
                  {% else %}
                  <img src="{% static 'img/speaker-01.png' %}" alt="">
                  {% endif %}
                </aside>
              </div><!-- .speaker -->
              <div class="speaker-name">
                <h1>{{ speaker.name }}</h1>
                <h2>{{ speaker.reference }}</h2>
              </div>
            </div>
          </div><!-- .modal-header -->
          <div class="modal-body">
            <div class="row">
              <div class="col-md-3 col-sm-3">
                <div class="social">
                  {% if speaker.facebook %}
                  <a href="{{ speaker.facebook }}">Facebook</a>
                  {% endif %}
                  {% if speaker.twitter %}
                  <a href="{{ speaker.twitter }}">Twitter</a>
                  {% endif %}
                  {% if speaker.googleplus %}
                  <a href="{{ speaker.googleplus }}">Google Plus</a>
                  {% endif %}
                  {% if speaker.homepage %}
                  <a href="{{ speaker.homepage }}">Homepage</a>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-9 col-sm-9">
                <h3>About me</h3>
                {{ speaker.about|linebreaks }}
              </div>
            </div>
          </div><!-- .modal-body -->
          <div class="modal-footer">
            <div class="speak">
              {% for schedule in speaker.schedules %}
              <div class="row">
                <div class="col-md-8 col-sm-7">
                  <div class="title"><h3>{{ schedule.title }}</h3></div>
                </div>
                <div class="col-md-4 col-sm-5">
                  <div class="date-time">
                    <div class="date">
                      <i class="fa fa-calendar"></i>
                      <figure>{{ conference.realization_date }}</figure>
                    </div>
                    <div class="time">
                      <i class="fa fa-clock-o"></i>
                      <figure>{{ schedule.start_at }}</figure>
                    </div>
                  </div>
                </div>
              </div><!-- .row -->
              {% endfor %}
            </div><!-- .speak -->
          </div><!-- .modal-footer -->
        </div><!-- .modal-content -->
      </div><!-- .modal-dialog -->
    </div><!-- #modal1 -->
    {% endfor %}
  </div><!-- .row -->
  {% endfor %}
</section><!-- .speakers -->
