<section class="about">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="information">
        <div class="date">
          <div class="day">{{ conference.realization_at|date:'d' }}</div>
          <div class="divider">/</div>
          <div class="month">{{ conference.realization_at|date:'m' }}</div>
          <div class="divider">/</div>
          <div class="year">{{ conference.realization_at|date:'Y' }}</div>
        </div>
        <div class="location">{{ conference.get_city_display }}</div>
        <div class="address">{{ conference.address }}</div>
      </div><!-- .information -->
      <hr>
      {{ instance.body|linebreaks }}
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="video">
        {{ instance.media|safe }}
      </div><!-- .video -->
    </div><!-- .col-md-6 -->
  </div><!-- .row -->
</section><!-- .about -->
