<section class="footer-top">
  <div class="container">
    <header>
      <h2><a href="#contact" class="roll">Contact & Location</a></h2>
    </header>
    <div class="find-way">
      <div class="row">
        <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
              <input type="text" class="form-control" id="find-way" name="find-way" placeholder="Enter your location to find a way">
            </div>
          </div><!-- /.form-group -->
        </div><!-- .col-md-5 -->
      </div><!-- .row -->
    </div><!-- .find-way -->
  </div><!-- .container -->
</section>
<div id="map"></div><!-- #map -->
<section class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <section class="copyright">
          <span>Copyright © <a href="#">EVENT ˣ</a> , 2014</span>
        </section>
      </div><!-- .col-md-7 -->
      <div class="col-md-5 col-sm-6">
        <section class="contact float">
          <h3>Get Connected</h3>
          <div class="social">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">YouTube</a>
          </div>
          <span>Reach us at <a href="mailto:eventx@example.com">eventx@example.com</a> for any questions</span>
        </section>
      </div><!-- .col-md-5 -->
    </div><!-- .row -->
  </div><!-- .container -->
</section>
