{% load cms_tags %}
<section class="block{% if instance.background %} background-color-grey-light{% endif %}" id="{{ instance.identify }}"{% if 'edit' not in request.GET.keys and not instance.published %}style="display:none;"{% endif %}>
  <div class="container">
  {% for plugin in instance.child_plugin_instances %}
    {% render_plugin plugin %}
  {% endfor %}
  </div>
</section>
