{% load staticfiles %}
<div id="slider" class="owl-carousel has-parallax">
  {% for slide in instance.slide_set.all %}
  <div class="slide">
    {% if slide.image %}
    <img src="{{ slide.image.url }}" alt="{{ slide.title }}">
    {% else %}
    <img src="{% static 'img/slide.jpg' %}" alt="">
    {% endif %}
  </div>
  {% endfor %}
  <!-- <div class="slide">
    <img src="{% static 'img/slide-02.jpg' %}" alt="">
  </div> -->
</div>
