{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="ThemeStarz">
  <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/animate.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
  {% render_block "css" %}
  <title>{% page_attribute "page_title" %}</title>
</head>

<body data-spy="scroll" data-target=".navigation" data-offset="150" id="top">
  {% cms_toolbar %}
  <!-- Wrapper -->
  <div class="wrapper">

    <!-- Navigation -->
    <div class="navigation fade-in">
      <div class="container">
        <header class="navbar" role="banner" style="padding:15px 0;">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand nav" id="brand">
              <a href="#top"><img src="{% static 'img/uaipython-logo2.png' %}" alt="brand" style="height:80px;"></a>
            </div>
          </div>
          <div class="navigation-wrapper">
            <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
              <ul class="nav navbar-nav">
                {% show_menu 0 1 100 100 "plugins/menu.html" %}
              </ul>
            </nav><!-- /.navbar collapse-->
          </div>
        </header><!-- /.navbar -->
      </div><!-- /.container -->
    </div>
    <!-- end Navigation -->

    <!-- Slider -->
    <div class="slider">
      <div class="overlay">
        <div class="container">
          <div class="information fade-in move">
            <div><i class="fa fa-map-marker"></i>{{ conference.address }}</div>
            <div><i class="fa fa-calendar"></i>{{ conference.realization_at|date:"d/m/Y" }}</div>
          </div>
          <div class="title-wrapper fade-in">
            <div class="title expand move"><h1>{{ conference.site.name }}</h1></div>
            <div class="title expand move"><h1>Conferência</h1></div>
          </div>
          <div class="call-to-action fade-in move" style="display: none;">
            <a href="#register" class="roll">Register!</a>
          </div>
        </div>
      </div>
      {% static_placeholder "banner" %}
      <!-- <div id="slider" class="owl-carousel has-parallax">
        <div class="slide">
          <img src="{% static 'img/slide.jpg' %}" alt="">
        </div>
        <div class="slide">
          <img src="{% static 'img/slide-02.jpg' %}" alt="">
        </div>
      </div> -->
    </div>
    <!-- end Slider -->

    <!-- Page Content -->
    <div id="page-content">
      {% placeholder "base_content" %}
    </div>
    <!-- end Page Content -->

    <!-- Footer -->
    <footer id="contact">
      <section class="footer-top">
        <div class="container">
          <header>
            <h2><a href="#contact" class="roll">Contato & Localização</a></h2>
          </header>
          <div class="find-way">
            <div class="row">
              <div class="col-md-5 col-sm-7 col-md-offset-7 col-sm-offset-5">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                    <input type="text" class="form-control" id="find-way" name="find-way" placeholder="Digite sua localização para obter o caminho">
                  </div>
                </div><!-- /.form-group -->
              </div><!-- .col-md-5 -->
            </div><!-- .row -->
          </div><!-- .find-way -->
        </div><!-- .container -->
      </section>
      <div id="map"></div><!-- #map -->
      <section class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-sm-6">
              <section class="copyright">
                <span>Copyright © <a href="#">UAI Python</a>, 2015</span>
              </section>
            </div><!-- .col-md-7 -->
            <div class="col-md-5 col-sm-6">
              <section class="contact float">
                <h3>Fique conectado!</h3>
                <div class="social">
                  <a href="https://www.facebook.com/uaipython/">Facebook</a>
                  <a href="https://twitter.com/pythonmg/">Twitter</a>
                  <a href="http://forum.pythonmg.com.br/">Groups</a>
                  <a href="http://pythonmg.com.br/">PUG</a>
                </div>
                <span>Entre em contato <a href="mailto:contato@uaipython.org">contato@uaipython.org</a></span>
              </section>
            </div><!-- .col-md-5 -->
          </div><!-- .row -->
        </div><!-- .container -->
      </section>
      <!-- .footer-bottom -->
    </footer>
    <!-- end Footer -->

  </div>
  <!-- end Wrapper -->

  <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/smoothscroll.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/owl.carousel.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.validate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.placeholder.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/icheck.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.eachStep.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
  <script type="text/javascript" src="{% static 'js/markerwithlabel_packed.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/retina-1.1.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

  <!-- Google Maps -->
  <script type="text/javascript">
    var _latitude = parseFloat("{{ conference.latitude }}");
    var _longitude = parseFloat("{{ conference.longitude }}");
    var markerAddress = "{{ conference.address }}";
    var mapStyles = [{featureType:'water',elementType:'all',stylers:[{hue:'#d7ebef'},{saturation:-5},{lightness:54},{visibility:'on'}]},{featureType:'landscape',elementType:'all',stylers:[{hue:'#eceae6'},{saturation:-49},{lightness:22},{visibility:'on'}]},{featureType:'poi.park',elementType:'all',stylers:[{hue:'#dddbd7'},{saturation:-81},{lightness:34},{visibility:'on'}]},{featureType:'poi.medical',elementType:'all',stylers:[{hue:'#dddbd7'},{saturation:-80},{lightness:-2},{visibility:'on'}]},{featureType:'poi.school',elementType:'all',stylers:[{hue:'#c8c6c3'},{saturation:-91},{lightness:-7},{visibility:'on'}]},{featureType:'landscape.natural',elementType:'all',stylers:[{hue:'#c8c6c3'},{saturation:-71},{lightness:-18},{visibility:'on'}]},{featureType:'road.highway',elementType:'all',stylers:[{hue:'#dddbd7'},{saturation:-92},{lightness:60},{visibility:'on'}]},{featureType:'poi',elementType:'all',stylers:[{hue:'#dddbd7'},{saturation:-81},{lightness:34},{visibility:'on'}]},{featureType:'road.arterial',elementType:'all',stylers:[{hue:'#dddbd7'},{saturation:-92},{lightness:37},{visibility:'on'}]},{featureType:'transit',elementType:'geometry',stylers:[{hue:'#c8c6c3'},{saturation:4},{lightness:10},{visibility:'on'}]}];

    google.maps.event.addDomListener(window, 'load', initSubmitMap());

    function initSubmitMap(){
      var mapCenter = new google.maps.LatLng(_latitude,_longitude);
      var mapOptions = {
        zoom: 15,
        center: mapCenter,
        disableDefaultUI: false,
        scrollwheel: false,
        styles: mapStyles
      };
      var mapElement = document.getElementById('map');
      var map = new google.maps.Map(mapElement, mapOptions);

      var markerPosition = new google.maps.LatLng(_latitude,_longitude);
      var marker = new MarkerWithLabel({
        position: markerPosition,
        map: map,
        icon: "{% static 'img/marker.png' %}",
        labelContent: markerAddress,
        labelAnchor: new google.maps.Point(50, 0),
        labelClass: "marker-style"
      });


      var input = /** @type {HTMLInputElement} */( document.getElementById('find-way') );
      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.bindTo('bounds', map);
      google.maps.event.addListener(autocomplete, 'place_changed', function() {
        var place = autocomplete.getPlace();
        if (!place.geometry) {
          return;
        }
        if (place.geometry.viewport) {
          map.fitBounds(place.geometry.viewport);
        } else {
          map.setCenter(place.geometry.location);
          map.setZoom(17);
        }
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        initialize(place.geometry.location.lat(), place.geometry.location.lng());

        var address = '';
        if (place.address_components) {
          address = [
          (place.address_components[0] && place.address_components[0].short_name || ''),
          (place.address_components[1] && place.address_components[1].short_name || ''),
          (place.address_components[2] && place.address_components[2].short_name || '')
          ].join(' ');
        }
      });


      var directionsDisplay;
      var directionsService = new google.maps.DirectionsService();
      var finishPoint = new google.maps.LatLng(_latitude, _longitude);

      function initialize(_findLatitude, _findLongitude) {
            //alert(center);
            var startPoint = new google.maps.LatLng(_findLatitude, _findLongitude);
            directionsDisplay = new google.maps.DirectionsRenderer();
            var mapOptions = {
              zoom: 14,
              center: startPoint,
              scrollwheel: true,
              styles: mapStyles
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);
            directionsDisplay.setMap(map);

            var selectedMode = 'DRIVING';
            var request = {
              origin: startPoint,
              destination: finishPoint,
              travelMode: google.maps.TravelMode[selectedMode]
            };
            directionsService.route(request, function(response, status) {
              if (status == google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
              }
            });


          }
        }

      </script>
      {% render_block "js" %}
    </body>
    </html>
