<!-- Schedule -->
<section class="block background-color-grey-light" id="schedule">
  <div class="container">
    <header>
      <h2><a href="#schedule" class="roll">Schedule</a></h2>
    </header>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="active"><a href="#september-26" role="tab" data-toggle="tab">Monday, September 26</a></li>
      <li><a href="#september-27" role="tab" data-toggle="tab">Tuesday, September 27</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="september-26">
        <div class="panel-group" id="schedule-table-september-26">
          <div class="panel panel-default">
            <a href="#september-26-1" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-26">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <figure>08:00</figure>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="title"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3></div>
                </div>
              </div>
              <i class="fa fa-plus"></i>
            </a><!-- .panel-header -->
            <div id="september-26-1" class="panel-collapse collapse description">
              <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                  <div class="panel-body">
                    <p>Duis vel aliquet nibh. Duis nec ultricies purus. Donec hendrerit eget turpis in fringilla. Vivamus vitae feugiat sapien. Donec semper ligula non cursus maximus. Donec congue id ligula at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                  </div>
                </div>
              </div>
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

          <div class="panel panel-default">
            <a href="#september-26-2" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-26">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <figure>09:30</figure>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="title"><h3>Aenean suscipit euismod nisl, eget vehicula est bibendum et</h3></div>
                </div>
              </div>
              <i class="fa fa-plus"></i>
            </a><!-- .panel-header -->
            <div id="september-26-2" class="panel-collapse collapse description">
              <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                  <div class="panel-body">
                    <p>Praesent quis sem sed est feugiat tincidunt ut sit amet augue. Sed ac libero iaculis, laoreet enim nec, pretium ante. Donec facilisis, turpis eget vulputate maximus, leo augue viverra elit, nec dapibus turpis felis id magna. Mauris dapibus eleifend ipsum, a tempor massa blandit ut</p>
                  </div>
                </div>
              </div>
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

          <div class="panel panel-default">
            <a href="#september-26-3" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-26">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <figure>10:45</figure>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="title"><h3>Coffee Break</h3></div>
                </div>
              </div>
              <i class="fa fa-plus"></i>
            </a><!-- .panel-header -->
            <div id="september-26-3" class="panel-collapse collapse description">
              <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                  <div class="panel-body">
                    <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
                  </div>
                </div>
              </div>
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

        </div>
      </div><!-- .tab-pane -->

      <div class="tab-pane fade" id="september-27">
        <div class="panel-group" id="schedule-table-september-27">
          <div class="panel panel-default">
            <a href="#september-27-1" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-27">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <figure>08:00</figure>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="title"><h3>Duis ornare tincidunt erat ac cursus. Etiam vel vulputate odio, id posuere dolor</h3></div>
                </div>
              </div>
              <i class="fa fa-plus"></i>
            </a><!-- .panel-header -->
            <div id="september-27-1" class="panel-collapse collapse description">
              <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                  <div class="panel-body">
                    <p>Duis vel aliquet nibh. Duis nec ultricies purus. Donec hendrerit eget turpis in fringilla. Vivamus vitae feugiat sapien. Donec semper ligula non cursus maximus. Donec congue id ligula at ornare. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                  </div>
                </div>
              </div>
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

          <div class="panel panel-default">
            <a href="#september-27-2" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-27">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <figure>10:30</figure>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="title"><h3>Vivamus at iaculis nisi. Quisque vitae congue lacus, eu blandit odio. Aliquam leo eros</h3></div>
                </div>
              </div>
              <i class="fa fa-plus"></i>
            </a><!-- .panel-header -->
            <div id="september-27-2" class="panel-collapse collapse description">
              <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                  <div class="panel-body">
                    <p>Praesent quis sem sed est feugiat tincidunt ut sit amet augue. Sed ac libero iaculis, laoreet enim nec, pretium ante. Donec facilisis, turpis eget vulputate maximus, leo augue viverra elit, nec dapibus turpis felis id magna. Mauris dapibus eleifend ipsum, a tempor massa blandit ut</p>
                  </div>
                </div>
              </div>
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

          <div class="panel panel-default">
            <a href="#september-27-4" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-27">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <figure>12:00</figure>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="title"><h3>Lunch Time</h3></div>
                </div>
              </div>
              <i class="fa fa-plus"></i>
            </a><!-- .panel-header -->
            <div id="september-27-4" class="panel-collapse collapse description">
              <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                  <div class="panel-body">
                    <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
                  </div>
                </div>
              </div>
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

          <div class="panel panel-default">
            <a href="#september-27-3" class="panel-header" data-toggle="collapse" data-parent="#schedule-table-september-27">
              <div class="row">
                <div class="col-md-2 col-sm-2">
                  <div class="time">
                    <i class="fa fa-clock-o"></i>
                    <figure>13:30</figure>
                  </div>
                </div>
                <div class="col-md-10 col-sm-10">
                  <div class="title"><h3>Sed ac libero iaculis, laoreet enim nec, pretium ante.</h3></div>
                </div>
              </div>
              <i class="fa fa-plus"></i>
            </a><!-- .panel-header -->
            <div id="september-27-3" class="panel-collapse collapse description">
              <div class="row">
                <div class="col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2">
                  <div class="panel-body">
                    <p>Nulla volutpat aliquam augue, et ullamcorper turpis porttitor a. Duis ac faucibus augue. Maecenas vel massa varius, rhoncus nibh id, sodales nisi.</p>
                  </div>
                </div>
              </div>
            </div><!-- .panel-collapse -->
          </div><!-- .panel -->

        </div>
      </div><!-- .tab-pane -->
    </div><!-- .tab-content -->
  </div><!-- .container -->
</section>
<!-- end Schedule -->

<!-- Speakers -->
<section id="speakers" class="block">
  <div class="container">
    <header>
      <h2><a href="#speakers" class="roll">Speakers</a></h2>
    </header>
    <section class="speakers background-stripe">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="speaker">
            <aside class="image">
              <div class="plus-wrapper" data-toggle="modal" data-target="#modal1">
                <div class="plus"><i class="fa fa-plus"></i></div>
              </div>
              <img src="{% static 'img/speaker-01.png' %}" alt="">
            </aside>
            <h3>Catherine Brown</h3>
            <h4>CEO at M&D</h4>
          </div><!-- .speaker -->
        </div><!-- .col-md-3 -->
        <div class="col-md-3 col-sm-3">
          <div class="speaker">
            <aside class="image">
              <div class="plus-wrapper" data-toggle="modal" data-target="#modal2">
                <div class="plus"><i class="fa fa-plus"></i></div>
              </div>
              <img src="{% static 'img/speaker-02.png' %}" alt="">
            </aside>
            <h3>Mellanie Pearl</h3>
            <h4>Freelance Designer</h4>
          </div><!-- .speaker -->
        </div><!-- .col-md-3 -->
        <div class="col-md-3 col-sm-3">
          <div class="speaker">
            <aside class="image">
              <div class="plus-wrapper" data-toggle="modal" data-target="#modal3">
                <div class="plus"><i class="fa fa-plus"></i></div>
              </div>
              <img src="{% static 'img/speaker-03.png' %}" alt="">
            </aside>
            <h3>John Doe</h3>
            <h4>Marketing Guru</h4>
          </div><!-- .speaker -->
        </div><!-- .col-md-3 -->
        <div class="col-md-3 col-sm-3">
          <div class="speaker">
            <aside class="image">
              <div class="plus-wrapper" data-toggle="modal" data-target="#modal4">
                <div class="plus"><i class="fa fa-plus"></i></div>
              </div>
              <img src="{% static 'img/speaker-04.png' %}" alt="">
            </aside>
            <h3>Stephanie Parks</h3>
            <h4>Coding Ninja</h4>
          </div><!-- .speaker -->
        </div><!-- .col-md-3 -->
      </div><!-- .row -->
    </section><!-- .speakers -->
  </div><!-- .container -->
</section>
<!-- end Speakers -->
<hr>
<!-- Subscribe -->
<section id="subscribe" class="block">
  <div class="container">
    <header>
      <h2><a href="#subscribe" class="roll">Subscribe</a></h2>
    </header>
    <form id="form-subscribe" role="form">
      <div class="form-wrapper">
        <div class="row">
          <div class="col-md-5 col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" id="subscribe-name" name="subscribe-name" placeholder="Name" required>
            </div><!-- /.form-group -->
          </div><!-- .col-md-5 -->
          <div class="col-md-4 col-sm-4">
            <div class="form-group">
              <input type="email" class="form-control" id="subscribe-email" name="subscribe-email" placeholder="E-mail" required>
            </div><!-- /.form-group -->
          </div><!-- .col-md-4 -->
          <div class="col-md-3 col-sm-4">
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Subscribe Now <i class="fa fa-angle-right"></i></button>
            </div><!-- /.form-group -->
          </div><!-- .col-md-3 -->
          <div id="form-subscribe-status" class="hide-status status-successful"></div>
        </div><!-- .row -->
      </div><!-- .form-wrapper -->

    </form><!-- #form-subscribe -->
  </div><!-- .container -->
</section>
<!-- end Subscribe -->

<!-- About -->
<section id="about" class="block expand left background-color-grey-light">
  <div class="container">
    <header>
      <h2><a href="#about" class="roll">About the Conference</a></h2>
    </header>
    <section class="about">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="information">
            <div class="date">
              <div class="day">26</div>
              <div class="divider">/</div>
              <div class="month">09</div>
              <div class="divider">/</div>
              <div class="year">2014</div>
            </div>
            <div class="location">London</div>
            <div class="address">The Bloomsbury Hotel ,16-22 Great Russell St</div>
          </div><!-- .information -->
          <hr>
          <p>Proin sit amet felis et purus vulputate suscipit eu sit amet sem. Morbi tincidunt, erat eu vulputate semper, enim enim ornare mauris, ac fringilla elit eros sed est. Proin metus arcu, lacinia non leo at, tempus aliquam magna. Maecenas id pellentesque tortor. Aenean viverra mi a molestie viverra. Praesent et diam sit amet dolor eleifend cursus a ut augue.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="video">
            <iframe src="//player.vimeo.com/video/77620870?title=0&byline=0&portrait=0&color=ffffff" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div><!-- .video -->
        </div><!-- .col-md-6 -->
      </div><!-- .row -->
    </section><!-- .about -->
  </div><!-- .container -->
</section>
<!-- end About -->

<!-- Tickets -->
<section id="tickets" class="block">
  <div class="container">
    <header>
      <h2><a href="#tickets" class="roll">Tickets</a></h2>
    </header>
    <div class="tickets">
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <div class="description">
            <header class="equal-height"></header>
            <ul>
              <li>Seat</li>
              <li>Catering</li>
              <li>VIP Party</li>
            </ul>
          </div><!-- .description -->
        </div><!-- .col-md-3 -->
        <div class="col-md-3 col-sm-3">
          <div class="ticket">
            <header class="equal-height">
              <h3>Silver</h3>
              <figure>$29,00</figure>
            </header>
            <ul>
              <li class="checked"><i class="fa fa-check"></i><span>Seat</span></li>
              <li class="unchecked"><i class="fa fa-times"></i><span>Catering</span></li>
              <li class="unchecked"><i class="fa fa-times"></i><span>VIP Party</span></li>
            </ul>
          </div><!-- .ticket -->
        </div><!-- .col-md-3 -->
        <div class="col-md-3 col-sm-3">
          <div class="ticket">
            <header class="equal-height">
              <h3>Gold</h3>
              <figure>$49,00</figure>
            </header>
            <ul>
              <li class="checked"><i class="fa fa-check"></i><span>Seat</span></li>
              <li class="checked"><i class="fa fa-check"></i><span>Catering</span></li>
              <li class="unchecked"><i class="fa fa-times"></i><span>VIP Party</span></li>
            </ul>
          </div><!-- .ticket -->
        </div><!-- .col-md-3 -->
        <div class="col-md-3 col-sm-3">
          <div class="ticket">
            <header class="equal-height">
              <h3>Platinum</h3>
              <figure>$69,00</figure>
            </header>
            <ul>
              <li class="checked"><i class="fa fa-check"></i><span>Seat</span></li>
              <li class="checked"><i class="fa fa-check"></i><span>Catering</span></li>
              <li class="checked"><i class="fa fa-check"></i><span>VIP Party</span></li>
            </ul>
          </div><!-- .ticket -->
        </div><!-- .col-md-3 -->
      </div><!-- .row -->
    </div><!-- .tickets -->
  </div><!-- .container -->
</section>
<!-- end Tickets -->

<!-- Register -->
<section id="register">
  <div class="container">
    <header>
      <h2><a href="#register" class="roll">Register</a></h2>
    </header>
    <form id="form-register" method="post" class="background-color-default">
      <div class="form-wrapper">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="register-name" name="register-name" placeholder="Name" required>
            </div><!-- /.form-group -->
          </div><!-- .col-md-5 -->
          <div class="col-md-4 col-sm-6">
            <div class="form-group">
              <input type="text" class="form-control" id="register-email" name="register-email" placeholder="E-mail" required>
            </div><!-- /.form-group -->
          </div><!-- .col-md-4 -->
          <div class="col-md-2 col-sm-6">
            <div class="form-group">
              <select name="register_ticket" id="register_ticket">
                <option value="">Ticket</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
                <option value="Platinum">Platinum</option>
              </select>
            </div>
          </div><!-- .col-md-4 -->
          <div class="col-md-2 col-sm-6">
            <div class="form-group">
              <button type="submit" class="btn btn-default">Register<i class="fa fa-angle-right"></i></button>
            </div><!-- /.form-group -->
          </div><!-- .col-md-3 -->
          <div id="form-register-status" class="hide-status status-successful color-background"></div>
        </div><!-- .row -->
      </div><!-- .form-wrapper -->
    </form><!-- #form-register -->
  </div><!-- .container -->
</section>
<!-- end Register -->

<!-- Testimonials -->
<section id="testimonials" class="block expand right background-color-grey-light">
  <div class="container">
    <div class="quote">“</div>
    <div class="owl-carousel testimonials-carousel">
      <blockquote class="testimonial">
        <figure>
          <div class="image">
            <img alt="" src="{% static 'img/speaker-02.png' %}" alt="">
          </div>
        </figure>
        <aside class="cite">
          <p>Praesent tempus urna id leo ullamcorper euismod. Mauris placerat ornare risus, lobortis posuere erat porttitor vitae. Nulla ac diam sem.</p>
          <footer>Suzane Nowell</footer>
          <figure>Home Design</figure>
        </aside>
      </blockquote>
      <blockquote class="testimonial">
        <figure>
          <div class="image">
            <img alt="" src="{% static 'img/speaker-01.png' %}" alt="">
          </div>
        </figure>
        <aside class="cite">
          <p>Vivamus vestibulum, libero et cursus ultrices, sem ex elementum augue, ultricies dictum mi leo ut erat</p>
          <footer>Natalie Jenkins</footer>
          <figure>Old School Architects</figure>
        </aside>
      </blockquote>
    </div><!-- /.testimonials-carousel -->
  </div><!-- .container -->
</section>
<!-- end Testimonials -->

<!-- Partners -->
<section id="partners" class="block">
  <div class="container">
    <header>
      <h2><a href="#tickets" class="roll">Partners</a></h2>
    </header>
    <div class="logos">
      <div class="logo"><a href=""><img src="{% static 'img/logo-partner-01.png' %}" alt=""></a></div>
      <div class="logo"><a href=""><img src="{% static 'img/logo-partner-02.png' %}" alt=""></a></div>
      <div class="logo"><a href=""><img src="{% static 'img/logo-partner-03.png' %}" alt=""></a></div>
      <div class="logo"><a href=""><img src="{% static 'img/logo-partner-04.png' %}" alt=""></a></div>
      <div class="logo"><a href=""><img src="{% static 'img/logo-partner-05.png' %}" alt=""></a></div>
    </div>
  </div><!-- .container -->
</section>
<!-- end Partners -->

